page-profile {


  #content {
    h1 {
      text-align: center;
      color: map_get($colors, primary);
      font-weight: bold;
      font-size: 30px;
      border-bottom: 1px solid map_get($colors, secondary);
    }

    .key_val {
      .key {
        font-weight: bold;
        color: map_get($colors, primary);
      }

      margin-top: 50px;
    }

    #logout {
      position: absolute;
      bottom: 10px;
      width: calc(100% - 32px);
    }

    background: url(../../assets/imgs/eth_logo.png) no-repeat center center fixed;
    //background-repeat: no-repeat;
    //background-size: 100%;
    //background-position: center;
    height: 100%;
  }
}
